.contact-banner{
    position: relative;
    height: 65vh;
    width: 100%;
    background-image: url(images/home-banner.jpg);
    background-size: cover;
    background-position: bottom center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 150px;
    margin-left: 150px;
}
.contact-container h1{
    font-size: 120px;
    line-height: 150px;
    margin-left: -10px;
    font-weight: 900;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 3px #041404;
    background: url(images/index-back.jpg);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 30s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
        
    }
}
.contact{
    
    
    padding: 20px;
}
form{
    background-color: rgb(199, 207, 200);
    padding: 20px;
}
form .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form .row .input-group{
    flex-basis: 50%;
}
input, textarea{
    height: 35px;
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #494444;
    color: #0f0e0e;
    background : #fff;
    font-size: 15px;
    
}
.message{
    height: 200px;
}
.map iframe{
    width: 100%;
    
}
.google-map{
    background-size: cover;
}
.paragraph-content{
    padding: 40px;
    text-align: left;
}
.contact-info{
    align-items: center;
    justify-content: center;
    padding-left: 10%;
}
.contact-grid{
    display: flex;
    gap: 1rem;
    align-items: center;
}
#grid-box{
    padding: 20px;
    background-color: rgb(15, 110, 20);
    color: #fff;
    width: auto;
    height: 25vh;
   
}
.box1{
    display: flex;
    gap: 2rem;
    align-items: center;
    border-bottom-left-radius: 40px;
}
.box1 img{
    width: 150px;
    height: 150px;
}
.box2, .box3{
    text-align: center;
    
}
#grid-box label{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: rgb(8, 48, 10);
    font-size: 23px;
}
.box3{
    border-top-right-radius: 40px;
}